---
layout: page
title: DataCenter - VuQuangNguyen
permalink: 
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Vu Quang Nguyen &#38; <br> HCMUS</h1>
          <p class="animated fadeInUp">Khi đang sống trong bóng tối, tại sao bạn không đi tìm ánh sáng? <br> Bình yên đến từ bên trong. Đừng tìm nó bên ngoài. <br> (Phật giáo)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Chia sẻ tâm tư</h2>
            <p>Highly active and hard working students in the field of applied nuclear nuclear technique, accompanied data analysis skills and problem-solving skills looking for an intership in Nuclear Chemical Radiation, applied nuclear physics in Agriculture - Medicine - Biology . In order to positively contribute to the production process of the company, while ganning valuable industrial experience/ Fluent in English</p>
          </div>
          <p>My dream was bring to Vietnam a tribute success dedicated to Vietnam which tells my knowledge and vision.It was not simply a result of experiment, but something that we created especially with love and passion for Vietnam and all the people around the world who loves Nuclear physics. From the bottom of my heart, I would like to  express my gratitude to my friends and my teachers.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Tôi tài giỏi bạn cũng thế</h2>
      <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world. </p>
      <p>        Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid."(Albert Enstein)</p>


      <a href="https://user-images.githubusercontent.com/41269309/55851451-d6da0800-5b82-11e9-921a-55f0e8dd97cf.png" class="btn btn-view-works">View my CV</a>
    </div>
    <div class="col-md-6 col-md-offset-6">
      <h2>Lắng nghe cuộc sống</h2>
      <p> Tôi biết có một nữ sinh tốt nghiệp đại học với tấm bằng loại ưu gần hai mươi năm trước. Với tài năng của mình, cô có thể gặt hái thành công trên con đường sự nghiệp và danh vọng. Nhưng cô sinh viên năm ấy đã chấp nhận hi sinh những cơ hội của đời mình để trở thành một người vợ đảm đang, một người mẹ dịu hiền của hai cô công chúa nhỏ. Cho tới bây giờ, khi đã là một phụ nữ trung niên, Người vẫn nói với tôi rằng: “Chăm sóc bố và hai con chu đáo, đối với mẹ đã là một thành công lớn”. Mỗi khi nghe câu nói ấy, tôi lại rơi nước mắt. Gia đình là hạnh phúc, là thành quả đẹp đẽ của đời mẹ, và chúng tôi phải cảm ơn mẹ vì điều đó. </p>
<p>Con người luôn khát khao thành công, nhưng mù quáng theo đuổi thành công thì thật là vô nghĩa. Bạn muốn mình giàu có, muốn trở thành tỷ phú như Bill Gates? Vậy thì hãy gấp đồng tiền một cách cẩn thận rồi trao nó cho bà cụ ăn xin bên đường. Với việc làm đẹp đẽ ấy, bạn sẽ cho mọi người hiểu được bạn không chỉ giàu có về vật chất mà còn giàu có tâm hồn. Khi đó, bạn đã thực sự thành công.</p>
<p>Bạn được sinh ra, đó là một thành công vĩ đại của cha và mẹ. Trách nhiệm của bạn là phải gìn giữ cho vẻ đẹp hoàn thiện của thành công ấy. Đừng bao giờ ủ ê nghĩ rằng cuộc sống là một chuỗi của thất bại, bởi như một giáo sư người Anh từng nói: “Cuộc sống này không có thất bại, có chăng là cách chúng ta nhìn nhận mọi việc mà thôi”. Còn đối với tôi, thành công là khi ai đó đọc được bài viết nhỏ này. Có thể sẽ chẳng được điểm cao, nhưng gửi gắm được những suy nghĩ của mình vào trang viết, với tôi, đó là một thành công</p>
      <a href="https://vuquangnguyen2018.github.io/WebStudio/" class="btn btn-view-works">View my Studio</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      
      
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Đừng mơ trong cuộc sống mà hãy sống trong giấc mơ.</h2>
          <p>Trong số chúng ta, nhiều người vẫn thầm trách cuộc sống này sao quá bất công, khiến họ phải chịu hết thất bại này đến thất bại khác, thiệt thòi trong công việc, thiệt thòi trong tình cảm. Thế nhưng bạn đã bao giờ tự hỏi bản thân đã khi nào nỗ nực hết mình cho điều mà bạn đang làm hay chưa? </p>
          <a class="btn btn-default btn-call-to-action" href="https://user-images.githubusercontent.com/41269309/55851451-d6da0800-5b82-11e9-921a-55f0e8dd97cf.png" >Đây là CV của tui </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
