<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{site.baseurl }}/about">About Us</a></li>
            <li><a href="https://user-images.githubusercontent.com/41269309/55851451-d6da0800-5b82-11e9-921a-55f0e8dd97cf.png">My CV</a></li>
            <li><a href="https://github.com/vuquangnguyen2018/WebStudio/issues/12">ID TASK</a></li>
            <li><a href="{{ site.baseurl }}/studio">My Studio</a></li>
            <li><a href="https://vuquangnguyen2016.github.io/Webpage/">My Webpage</a></li>
            <li><a href="https://www.flickr.com/photos/vuquangnguyen2018/">My Flickr</a></li>
            <li><a href="https://drive.google.com/drive/folders/1YBh_jSWHaWynDgG2tZ93g8WGAhiv2hWQ?usp=drive_open">My Data Server line1</a></li>
            <li><a href="https://www.dropbox.com/sh/43ije8a5q45yso1/AADyz1VXaaCRS5gknlilnlbha?dl=0">My Data Server line2</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="https://github.com/vuquangnguyen2018/"> Le Quang </a>; Theme setting by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved - copyright by Le Quang</p>
      </div>
    </div>
  </div>
</footer>
